/* Banner Section */
.banner {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  1.3fr 1fr;
  /* background-color: #EDEDEC; */
  background-color: #ebfff2;
  margin-bottom: 10%;
}

.banner-image {
  background-color: #1689B9;
}

.banner-content {
  display: flex;
  flex-direction: column;
}

.cta-section {
  margin-top: 37%;
  font-size: 14px;
  /* color: darkblue; */
  font-weight: bold;
}

.text-section {
  font-family: 'Libre Franklin', sans-serif;
  /* font-family: 'Satisfy', cursive; */
  /* color: darkblue; */
}


.web-title {
  text-align: center;
}

/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 10%;

  /* border: 1px solid black; */
  /* justify-content: center; */
}

button {
  padding: 8px 16px; /* Adjusts the size of the button */
  font-size: 14px; /* Sets the font size */
  background-color: #000; /* Background color */
  color: white; /* Text color */
  border: none; /* Removes default border */
  border-radius: 4px; /* Rounds the corners of the button */
  cursor: pointer; /* Changes the cursor to a pointer when hovering */
  transition: background-color 0.3s; /* Smooth transition for background color */
  margin-top: 1px;
}


.featured-image{
  margin: 0 auto;
  width: 90%;
  height: 360px;
  margin-bottom: 20px;
}

.thumbnail-gallery {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 5rem;

}
.thumbnail-gallery img {
  border-radius: 20%;
}


/*Thired section*/

#categories-section {
  padding: 20px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  gap: 2rem;
}

.category-card:hover {
  background-color: #ddd;
}

.category-card img {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.category-card h3 {
  margin: 10px 0 0;
  font-size: 16px;
}
