body{
  background-color: #f0f3fa;
}
/* Banner Section */
.banner {
  width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  1.3fr 1fr;
  /* background-color: #EDEDEC; */
  background-color: #fff;
  margin-bottom: 10%;
}

.banner-image {
  background-color: #1689B9;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 7%;
}
.text-section {
  font-size: 1.4rem;
}
.cta-section {
  margin-top: 20%;
  /* margin-left: %; */
  font-size: 14px;
  /* color: darkblue; */
  font-weight: bold;
}
.dif1 {
  display: block;
  color: #2197c9;
}

.text-section {
  font-family: 'Libre Franklin', sans-serif;
  /* font-family: 'Satisfy', cursive; */
  /* color: darkblue; */
}


.web-title {
  text-align: center;
}

/* Gallery Section */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 10%;

  /* border: 1px solid black; */
  /* justify-content: center; */
}
.cta-section p {
  font-size: 20px;
}
.cta-section button, .view-product-btn {
  padding: 8px 24px;
  font-size: 16px; 
  background-color: #2197c9; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: .5rem;
}


.featured-image{
  margin: 0 auto;
  width: 90%;
  height: 360px;
  margin-bottom: 20px;
}

.thumbnail-gallery {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 1rem;

}
.thumbnail-gallery img {
  width: 100%;
}


/*Thired section*/

#categories-section {
  padding: 20px;
  margin-bottom: 10%;

}

#products-section {
  margin-bottom: 30%;
}

.categories-container, .products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-card, .product-card {
  background-color: #fff;
}

/* .products-container {
  gap: 10px;
} */

.category-card, .product-card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  gap: 2rem;
}

.product-card {
  height: auto;
  gap: 2rem;
  cursor: default;
}

.product-card img {
  width: 70%;
  height: 100%;
}

.category-card:hover {
  background-color: #ddd;
}
.product-card {
  background-color: #fff;
}
.category-card img, .product-card img {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
}

.category-card h3, .product-card h3{
  margin: 10px 0 0;
  font-size: 16px;
}

.view-product-btn {
  margin-bottom: 5%;
}