<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./nav.css">
</head>

<body>
  <header>
    <div class="top-bar">
      <div class="quick-local">Quick Local</div>
      <div class="languages">
        <span>English</span> | <span>عربي</span>
      </div>
    </div>
    <nav class="main-nav">
      <div class="logo">
        <a href="href=" ../../../src/index.html"">
          <img src="../../../assets/pic.png" alt="quicklocal">
        </a>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search products, brands and categories">
        <button>SEARCH</button>
      </div>
      <div class="nav-icons">
        <a href="#">Account</a>
        <a href="#">Help</a>
        <a href="#">Cart</a>
      </div>
    </nav>
  </header>
</body>

</html>