<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="footer.css">
</head>

<body>
  <footer>
    <div class="footer-container">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>QuickLocal is your online store for all local products. We offer a wide range of products from various
          categories, ensuring quality and affordability.</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="../../landing/landing.html">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="../../pages/about/about.html">About</a></li>
          <li><a href="../../pages/contact/cantact.html">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <ul>
          <li><span>Address:</span> 123 Quick Local St, City, Country</li>
          <li><span>Email:</span> support@quicklocal.com</li>
          <li><span>Phone:</span> +123 456 789</li>
        </ul>
      </div>
      <div class="footer-section social">
        <h2>Follow Us</h2>
        <a href="https://facebook.com"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd6DzkJkKzcnmTF_VO2Pht8nhYvvj7bsKuVA&s"
            alt="Facebook"></a>
        <a href="https://x.com"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1_Jh4NWE0gAUsjZ-hNMk6cBW4NxCIvBhz2g&s"
            alt="Twitter"></a>
        <a href="https://instegram.com"><img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI7XjGed6lYevFtD86G2G3K3XkcgLofkrnQA&s"
            alt="Instagram"></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Quick Local. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>