/* CategoriesSection.css */
.category-section {
    width: 100%;
    margin-left: 0;
}
.category-card {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    border-radius: 0.5rem;
    margin: 0px !important;
    
}

.category-title {
    font-size: 1.25rem;
    margin-top: 1rem !important;
    color: #014f86 !important;
}

.category-card:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.category-image {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
}

.category-title {
    font-size: 1.25rem;
    color: #333;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}
