.offers{
    padding: 0 2rem !important;
}
.offers__card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    cursor: pointer;
}

.offers__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.offers__card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}

.offers__card:hover .offers__card-overlay {
    opacity: 1;
}

.offers__card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.offers__card-description {
    font-size: 16px;
}
